.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

textarea {
  height: 200px;
  padding: 20px;
}

.main{
  min-height: 100vh;
}
.back{
  background-image: url('src/assets/img/bg/library.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.front{
  background-color: rgba(0, 0, 0, 0.587);
}
.both{
  box-shadow: 2px 2px 20px rgb(114, 114, 114);
}
.right-0{
  right: 8px;
  font-size: small;
}