

<div class="container-fluid gx-0 d-flex" *ngIf="loggedIn()">
  <div class="container mx-auto my-auto">
    <div class="card col-lg-6 col-md-8 col-12 mx-auto p-lg-5 p-md-5 pt-5 p-2">
      <div class="profile-img m-auto">
        <img src="{{userData?.img}}" width="200px" alt="">
      </div>
      <div class="p-3 ">
        <div class="d-flex justify-content-between">
          <span class="text-light fs-5 fw-light">Name:</span>
          <span class="text-light fs-5 fw-light">{{userData?.fname}} {{userData?.lname}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-light fs-5 fw-light">Mail:</span>
          <span class="text-light fs-5 fw-light">{{userData?.mail}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-light fs-5 fw-light">Library: </span>
          <span class="text-light fs-5 fw-light">{{userData?.library.length}} books</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="text-light fs-5 fw-light">Reviews: </span>
          <span class="text-light fs-5 fw-light">{{userData?.review.length}} reviews</span>
        </div>
      </div>
      <button (click)="logOut()" class=" btn btn-danger">Log Out</button>
    </div>
  </div>
</div>