.main{
  min-height: 100vh;
}th, td {
  /* border-radius: 10px; */
  border: 2px solid white;
  word-wrap:break-word;
}
tr, th{
  border: 2px solid white;
    border-radius: 5px;
}
table {
  table-layout: fixed;
}
@media screen and (max-width: 395px) {
  td{
    font-size: 12px;
    word-wrap: break-word;
  }
}
input{
  outline: none;
}
input[type="text"],textarea{
  outline: none;
  border-bottom: 2px solid rgb(36, 87, 255);
  box-shadow: inset 0px 0px 10px rgb(157, 157, 157);
  padding: 10px 20px;
}
label{
  font-size: larger;
}

.both{
  box-shadow: 2px 2px 20px black;
}