.para-btn{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.description p{
  text-align: justify;
}
.tag{
  background-color: grey;
  /* padding: 5px; */
  color: white;
}

.star{
  overflow: hidden;
  width: 100px;
}
.details-card p{
  text-align: center;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  font-size: small;
}
.single-review{
  border-radius: 50px;
  border-top-left-radius: 0px;
}

.review-head{
  width: fit-content;
  border-radius: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rev-body{
  border-radius: 2px;
  border-top-left-radius: 0px;
}
.rev-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.single-review{
  width: 100%;
}
.container-fluid{
  min-height:80vh ;
}
.owl-carousel .owl-item.ng-star-inserted {
  display: flex;
  /* width: auto; */
  height: 300px!important;
  width: 180.2px;
}
img.rounded-3 {
  height: 250px;
  display: flex;
  margin: 0px auto;
  cursor: pointer;
  /* box-shadow: 5px 5px 20px grey; */
}.owl-carousel .owl-item {
  display: block!important;
  width: auto!important;
  height: 300px!important;
}
img.rounded-3.ng-star-inserted {
  height: 250px!important;
  display: flex!important;
  margin: 0px auto!important;
  cursor: pointer!important;
  /* box-shadow: 5px 5px 20px grey!important; */
}
.container-fluid{
  min-height:80vh ;
}
.owl-nav.ng-star-inserted {
  margin-top: -30px!important;
}
.main-box{
  margin: 7em auto 0.5em auto!important;
}
img.rounded-3.mt-2.ng-star-inserted {
  width: auto!important;
}
.back{
  background-image: url('src/assets/img/bg/book-details.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main,.review-block,.similar-block{
  box-shadow: 0px 0px 20px rgb(116, 116, 116);
}
.name{
  font-size: smaller;
}
.review-block{
  box-shadow: inset 0px 0px 10px rgb(114, 114, 114);
}