<nav class="navbar navbar-expand-lg " aria-label="Ninth navbar example">
  <div class="container-xl">
    <a class="navbar-brand" href="#">Container XL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="library">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="marvel">Marvel</a>
        </li>

      </ul>
      <div class="dropdown">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Authentication
  </button>
  <ul class="dropdown-menu">
    <ng-container *ngIf="loggedIN()">
      <ng-container *ngIf="admin()">
        <ng-container *ngIf="admin()=='true' ;else elseblock" >
          <li><a class="dropdown-item btn btn-light" routerLink="admin-panel" >Admin panel</a></li>
          <li><a class="dropdown-item btn btn-danger" routerLink="pending-req" >Pending requests</a></li>
        </ng-container>
        <ng-template #elseblock >
          <li><a class="dropdown-item btn btn-success" routerLink="make-req" >Make a request</a></li>
        </ng-template>
      </ng-container>
      <li><a routerLink="profile" class="dropdown-item btn btn-light" >Profile</a></li>
      <li><a (click)="logout()" class="dropdown-item btn btn-danger" >Log Out</a></li>
    </ng-container>
    <ng-container *ngIf="!loggedIN()">
      <li><a routerLink="sign-in" type="button" class="dropdown-item btn btn-outline-light ">Login</a></li>
      <li><a routerLink="sign-up" type="button" class="dropdown-item btn btn-warning">Sign-up</a></li>
    </ng-container>
  </ul>
</div>
    </div>
  </div>
</nav>