<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a r routerLink="home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="category" class="nav-link px-2 text-white">Category</a></li>
        <li><a routerLink="library" class="nav-link px-2 text-white">Library</a></li>
        <li><a routerLink="marvel" class="nav-link px-2 text-white">Marvel</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <ng-container *ngIf="loggedIN()">
          <button routerLink="profile" class="btn btn-light mx-2" >Profile</button>
          <button (click)="logout()" class="btn btn-danger" >Log Out</button>
        </ng-container>
        <ng-container *ngIf="!loggedIN()">
          <button routerLink="sign-in" type="button" class="btn btn-outline-light me-2">Login</button>
          <button routerLink="sign-up" type="button" class="btn btn-warning">Sign-up</button>
        </ng-container>
      </div>
    </div>
  </div>
</header>