
.owl-carousel .owl-item img {
  display: flex;
  /* width: auto; */
  height: 300px!important;
}
img.rounded-3.ng-star-inserted {
  width: auto;
  height: 275px;
  display: flex;
  margin: 0px auto;
}
.search-box{
  position: absolute;
  position: absolute;
  z-index: 100;
  transform: translateY(-30px);

}
.search-box input{
  height: 60px;
  outline: none;
  padding: 0px 30px;
  font-size: large;
  color: grey;
}
.search-btn{
  /* position: absolute; */
  height: fit-content;
  transform: translate(-55px, 11px);
}
.suggest{
  z-index: 10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.suggest p:hover{
  background-color: bisque;
  cursor: pointer;
}