<div class="container-fluid main gx-0 d-flex flex-column position-reletive">
  <div class="mx-auto">
    <img src="assets/img/logo-color.png" class="img-fluid logo"  alt="">
  </div>

  <div class="search-box justify-content-center col-10 mx-auto">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <input type="text" [(ngModel)]="search" (keyup)="startSearching()"
        class="w-100 rounded-3 border border-3 border-primary">
      <button class="search-btn btn btn-primary" (click)="startSearching()"><i class="bi bi-search"></i></button>
    </div>
    <div class="col-lg-6 col-md-8 col-12 mx-auto ">
      <ng-container *ngIf="filterBySearch!=undefined && search!=''">
        <div class="mx-lg-2 mx-md-2 mx-2 suggest py-2 bg-light">
          <ng-container *ngFor="let list of filterBySearch.slice(0,5)">
            <p class="px-2 px-md-3 px px-lg-5 py-1" routerLink="book-details/{{list.genre}}/{{list.title}}">{{list.title}} by
              {{list?.authors}} <span *ngIf="list?.authors==undefined">{{list?.authors[0]}}</span> : {{list.genre}}</p>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>


<div class="px-5 bg-dark-subtle pt-5">
  <h3 class="py-3">Featured by bestseller in Fiction</h3>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of bestseller_fiction">
      <ng-template carouselSlide [id]="slide.rank" style="width: 300px; height: 100%;">
        <img [src]="slide.book_image" class="rounded-3">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<div class="px-5 bg-dark-subtle pb-5">
  <h3 class="py-3">Featured by bestseller in Non Fiction</h3>
  <owl-carousel-o [options]="customOptions2">
    <ng-container *ngFor="let slide of bestseller_non_fiction">
      <ng-template carouselSlide [id]="slide.rank" style="width: 300px; height: 100%;">
        <img [src]="slide.book_image" class="rounded-3">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>