<div class="container-fluid main d-flex my-5 my-lg-3 ">
  <div class="container  mx-auto my-auto">
    <div class="row both border border-3 border-light mx-2 mt-5">
      <div class="col-12 col-lg-6 col-md-12 px-0 back">
        <div class="card front rounded-0 border-0 h-100 text-center">
          <div class="my-auto p-5 text-light ">
            <h3>Can's find a book?</h3>
            <p>Make a request with book details we will add them to our catalogue<br>Multiple requests will not be registered</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-12 px-0">
        <div class="container mx-auto" *ngIf="loggedIn()">
          <form (ngSubmit)="onSubmit()" [formGroup]="req_form">
            <div class="card border-0 mx-auto p-2 p-lg-5 p-md-3 m-5">
              <h1 class="text-center fw-light">Make a request</h1>
              <div class="my-2">
                <label for="title" class="my-auto form-label">Book Title:</label>
                <input type="text" name="title" id="title" formControlName="title" class=" form-control p-2 rounded-2">
              </div>
              <div class="my-2">
                <label for="author" class="my-auto form-label">Book Author:</label>
                <input type="text" name="author" id="author" formControlName="author" class=" form-control p-2 rounded-2">
              </div>
              <div class="my-2 ms-auto">
                <input type="submit" value="Submit a request" class="btn btn-primary" [disabled]="req_form.invalid">
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

