<div class="container-fluid d-flex">
  <ng-container *ngIf="loader==true">
    <div class="my-auto mx-auto">
      <img src="assets/img/load-icon.gif" width="300px" alt="">
    </div>
  </ng-container>


  <div class="container-fluid gx-0 d-flex my-5" *ngIf="loader==false">
    <div class="container my-5 mx-auto px-lg-5">
      <div class="row mt-5 main gx-0 border-2 border-light border">
        <div class="col-12 col-lg-3 d-flex border border-light back">
          <div class="front bg-dark bg-opacity-50 d-flex w-100 h-100 py-5 py-lg-0">
            <img class="my-auto mx-auto rounded-0 border-2 border border-light" width="200px"
              src="{{comicData?.thumbnail?.path}}.{{comicData?.thumbnail?.extension}}" alt="">
          </div>
        </div>
        <div class="col-12 col-lg-9 py-3">
          <div class="p-lg-5 p-2 card border-0">
            <h5 class="">{{comicData?.title}}</h5>
            <h6 class="fw-light">Marvel Comics</h6>
            <!-- <p class="fw-bold">{{bookData?.details?.volumeInfo?.subtitle}}</p> -->
            <div class="description d-flex flex-column">
              <p [innerHTML]="comicData?.description"></p>
              <!-- <a class="ms-auto para-btn" *ngIf="description?.length==250" (click)="expand()">See more</a>
              <a class="ms-auto para-btn" *ngIf="description?.length>250" (click)="collapse()">Collapse</a> -->
              <p class="my-3">Characters: <span class="tag rounded-pill me-1 py-2 px-2" *ngFor="let char of comicData?.characters?.items">
                {{ char.name }} </span></p>
              <div class="row details-card px-1">
                <p class="p-1 mx-1 col-12 col-lg-2 col-md-6" *ngIf="comicData?.modified!=undefined">Date modified: {{comicData?.modified | date}}</p>
                <p class="p-1 mx-1 col-12 col-lg-2 col-md-6" *ngIf="comicData?.format!=undefined">Format: {{comicData?.format}}</p>
                <p class="p-1 mx-1 col-12 col-lg-2 col-md-6" *ngIf="comicData?.pageCount!=undefined">Page count: {{comicData?.pageCount}}</p>
              </div>
              <div class="d-flex justify-content-center">
                <ng-container *ngIf="inLibrary()==false">
                  <button class="btn btn-outline-dark w-50 me-2" (click)="addToLibrary()">Add to Library</button>
                </ng-container>
                <ng-container *ngIf="inLibrary()==true">
                  <button class="btn btn-danger w-50 me-2" (click)="removeFromLibrary()">Remove from Library</button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="review-block bg-light">
          <div class="reviews p-lg-5 p-1 my-3">
            <h5 class="d-flex px-lg-4 px-2 mb-0 py-2 py-lg-3 bg-dark-subtle review-head">Reviews({{reviews.length}})</h5>
            <div class="bg-dark-subtle p-4 rev-body" *ngIf="reviews.length==0">
              <p class="mx-2 px-3">No reviews yet</p>
            </div>
            <div class="bg-dark-subtle p-lg-4 p-2 rev-body" *ngIf="reviews.length!=0">
              <ng-container *ngFor="let rev of reviews">
                <div class="d-flex w-100">
                  <div class="rev-img">
                    <img class="review-img my-auto" width="50px" src="{{rev?.img}}" alt="">
                  </div>
                  <p class="d-flex justify-content-between single-review bg-primary text-light mx-2 p-3 fs-5">
                    {{rev.review.review}} <span class="name fw-light fst-italic fs-6">{{rev.fname}}</span>
                  </p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






























<!--


  <div *ngIf="!loader" class="mx-auto w-100">
    <div class="container my-5 w-75 mx-auto d-flex justify-content-between px-5">
      <div class="details w-75">
        <h1 class="mb-4">{{comicData?.title}}</h1>
        <h6 class="my-4">Characters: <span class="p-2 bg-dark text-light rounded-pill mx-1"
            *ngFor="let char of comicData?.characters?.items"> {{ char.name }} </span></h6>
        <p class="w-50" *ngIf="comicData?.description!=''">Description: {{comicData?.description}}</p>
        <div class="d-flex justify-content-between my-3 w-75">
          <div class="details-card p-3 border border-dark rounded-2">
            <p class="my-auto text-center">Date modified: {{comicData?.modified | date}}</p>
          </div>
          <div class="details-card p-3 border border-dark rounded-2">
            <p class="my-auto text-center">Format: {{comicData?.format}}</p>
          </div>
          <div class="details-card p-3 border border-dark rounded-2">
            <p class="my-auto text-center">Page count: {{comicData?.pageCount}}</p>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <button *ngIf="inLibrary()==false" class="btn btn-primary" (click)="addToLibrary()">Add to Library</button>
            <button *ngIf="inLibrary()==true" class="btn btn-danger" (click)="removeFromLibrary()">Remove from
              Library</button>
          </div>
        </div>
      </div>
      <div class="img">
        <img class="ms-auto rounded-2" width="250px"
          src="{{comicData?.thumbnail?.path}}.{{comicData?.thumbnail?.extension}}" alt="">
      </div>
    </div>
    <div class="container mx-auto w-75 px-5 my-3">
      <h4>More images</h4>
      <div class="d-flex justify-content-start">
        <ng-container *ngFor="let img of comicData?.images">
          <img class="more-img rounded-2 me-2" src="{{img?.path}}.{{img?.extension}}"
            (click)="modalImg(img?.path, img?.extension)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        </ng-container>
      </div>
      <div class="reviews my-3">
        <h5 class="d-flex px-4 mb-0 py-3 bg-dark-subtle review-head">Reviews({{reviews.length}})</h5>
        <div class="bg-dark-subtle p-4 rev-body">
          <ng-container *ngFor="let rev of reviews">
            <div class="d-flex w-100">
              <div class="rev-img">
                <img class="review-img my-auto" width="50px" src="{{rev?.img}}" alt="">
              </div>
              <p class="d-flex justify-content-between single-review bg-primary text-light mx-3 p-3 fs-5">
                {{rev?.review}} <span class="name fw-light fst-italic fs-6">{{rev?.fname}} {{rev?.lname}}</span></p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>






 -->
















<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Image</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="w-100" [src]="modal_img" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>