<div class="container-fluid d-flex">
  <ng-container *ngIf="loader==true">
    <div class="spinner-border mx-auto my-auto text-secondary" style="width: 8rem; height: 8rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>

<ng-container *ngIf="!loader">
  <div class="container mx-auto main-box">
    <ng-container *ngFor="let list of featuredCategory">
      <div class="px-5 d-flex justify-content-between mb-2 ">
        <h4 class="">Featured on {{list.genre | titlecase}}</h4>
        <button class="btn btn-outline-dark" routerLink="book-list/{{list.genre}}" >See more</button>
      </div>
      <owl-carousel-o [options]="category">
        <ng-container *ngFor="let slide of list.items">
          <ng-template carouselSlide [id]="slide.rank" style="width: 300px; height: 100%;">
            <img src="https://covers.openlibrary.org/b/id/{{slide.cover_id}}-M.jpg" routerLink="book-details/{{list.genre}}/{{slide.title}}" class="rounded-3 mt-2">
            <p class="text-center fw-bold mt-2 px-5" >{{slide.title | slice:0:20}}</p>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </ng-container>
    <app-genre></app-genre>
  </div>
</ng-container>
</div>