.owl-carousel .owl-item {
  display: flex;
  /* width: auto; */
  height: 300px!important;
  width: 180.2px;
}
img.rounded-3.ng-star-inserted {
  height: 250px;
  display: flex;
  margin: 0px auto;
  cursor: pointer;
  box-shadow: 5px 5px 20px grey;
}
.container-fluid{
  min-height:80vh ;
}
.owl-nav.ng-star-inserted {
  margin-top: -30px!important;
}
.main-box{
  margin: 5em auto 0.5em auto;
}