.owl-carousel .owl-item {
  display: block!important;
  width: auto!important;
  height: 300px!important;
}
img.rounded-3.ng-star-inserted {
  height: 250px!important;
  display: flex!important;
  margin: 0px auto!important;
  cursor: pointer!important;
  box-shadow: 5px 5px 20px grey!important;
}
.container-fluid{
  min-height:80vh ;
}
.owl-nav.ng-star-inserted {
  margin-top: -30px!important;
}
.main-box{
  margin: 7em auto 0.5em auto!important;
}
img.rounded-3.mt-2.ng-star-inserted {
  width: auto!important;
}
.owl-item.ng-trigger.ng-trigger-autoHeight.active.ng-star-inserted {
  width: 260px !important;
}
