<div class="container-fluid load gx-0 d-flex">
<ng-container *ngIf="loader==true">
  <div class="my-auto mx-auto">
    <img src="assets/img/load-icon.gif" width="300px" alt="">
  </div>
</ng-container>
<ng-container *ngIf="!loader">
  <div class="mt-5 mx-auto container-fluid gx-0">
    <div class="container-fluid gx-0 ">

      <!-- <div class="search-box justify-content-center w-100">
        <div class=" w-50 mx-auto">
          <input type="text" [(ngModel)]="search" (keyup)="startSearching()"
            class="w-100 rounded-3 border border-3 border-primary">
          <button class="search-btn btn btn-primary" (click)="startSearching()"><i class="bi bi-search"></i></button>
        </div>
        <div class="w-50 mx-auto ">
          <ng-container *ngIf="filterBySearch!=undefined && search!=''">
            <div class="mx-2 suggest py-2 bg-light w-75">
              <ng-container *ngFor="let list of filterBySearch.slice(0,5)">
                <p class=" px-5 py-1" routerLink="book-details/{{list.genre}}/{{list.title}}">{{list.title}} by
                  {{list?.authors}} <span *ngIf="list?.authors==undefined">{{list?.authors[0]}}</span> : {{list.genre}}</p>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div> -->

      <div class="banner-box" style="background-image: url('assets/img/bg/{{genre}}-2.jpg');">
      </div>
      <div class="container-fluid main-box">
        <div class="container mx-auto p-lg-5 py-5 px-sm-0">
          <h3 class="text-center mb-5">Showing results for books in {{genre.replace('_',' ') | titlecase}} caratogy</h3>
          <div class="row mx-auto my-5">
            <ng-container *ngFor="let item of page_books">
              <div class="col-lg-4 col-md-6 col-sm-12 px-0 mx-auto">
                <div class="card p-3 bg-secondary-subtle border border-2 border-light">
                  <div class="d-flex">
                    <div class="me-4">
                      <img class="rounded" src="https://covers.openlibrary.org/b/id/{{item?.cover_id}}-M.jpg" height="200px">
                    </div>
                    <div class="d-flex flex-column w-100 h-100">
                      <h6>Title: {{item?.title|slice:0:40}}</h6>
                      <h6>Author: {{item?.authors}}</h6>
                      <p>Publisher: {{item?.details?.volumeInfo?.publisher}}</p>
                      <ng-container *ngIf="item?.details.saleInfo?.saleability=='FOR_SALE'; else elseblock">
                        <p class="text-success ">Book available on google books for purchase</p>
                      </ng-container>
                      <ng-template #elseblock>
                        <p class="text-danger ">Unavailable for purchase</p>
                      </ng-template>

                    </div>
                  </div>
                  <button class="btn btn-outline-dark mt-2" routerLink="book-details/{{item?.title}}" >Details</button>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="my-5">
            <nav aria-label="Page navigation example my-5">
              <ul class="pagination justify-content-center">
                <li class="page-item"><button class="page-link" [disabled]="current_page==1" (click)="page(current_page-1)">Previous</button></li>
                <li class="page-item"><button class="page-link" [ngClass]="{active:current_page==1}" [disabled]="current_page==1" (click)="page(1)">1</button></li>
                <li class="page-item"><button class="page-link" [ngClass]="{active:current_page==2}" [disabled]="current_page==2" (click)="page(2)">2</button></li>
                <li class="page-item"><button class="page-link" [ngClass]="{active:current_page==3}" [disabled]="current_page==3" (click)="page(3)">3</button></li>
                <li class="page-item"><button class="page-link" [ngClass]="{active:current_page==4}" [disabled]="current_page==4" (click)="page(4)">4</button></li>
                <li class="page-item"><button class="page-link" [ngClass]="{active:current_page==5}" [disabled]="current_page==5" (click)="page(5)">5</button></li>
                <li class="page-item"><button class="page-link" [disabled]="current_page==5" (click)="page(current_page+1)">Next</button></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
</div>
<