input[type="text"],input[type="password"]{
  outline: none;
  border-bottom: 2px solid rgb(36, 87, 255);
  box-shadow: inset 0px 0px 10px rgb(157, 157, 157);
  padding: 10px 20px;
}
label{
  font-size: larger;
}

.main{
  min-height: 100vh;
}
.back{
  background-image: url('src/assets/img/bg/sign-up.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.front{
  background-color: rgba(0, 0, 0, 0.587);
}
.both{
  box-shadow: 2px 2px 20px rgb(116, 116, 116);
}
.err{
  right: 10px;
}
.show{
  color: rgb(82, 157, 255);
}
.hide{
  color: rgb(255, 107, 107);
}
.pwd-btn{
  position: absolute;
  transform: translate(3px,-42px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  right: 10px
}