<div class="container-fluid gx-0 d-flex">
  <ng-container *ngIf="loader==true">
    <div class="spinner-border mx-auto my-auto text-secondary" style="width: 8rem; height: 8rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>
<div class="container-fluid gx-0" *ngIf="!loader">
  <div class="banner-box mx-auto d-flex" style="background-image: url('assets/img/bg/{{hero_id}}.jpg');">
    <h1 class=" text-light text-start ms-5 fw-bold my-auto display-1 text-wrap col-6">{{hero_name}}</h1>
  </div>
  <div class="container-fluid gx-0 main-box">
    <div class="row container mx-auto">
      <h3 class="text-center my-5">Showing Comics for {{hero_name}}</h3>
      <ng-container *ngFor="let comics of heroData">
        <div class="col-3 p-0">
          <div class="card p-3" routerLink="comic-details/{{comics.id}}">
            <img class="mx-auto my-3 rounded-2" src="{{comics.thumbnail.path}}.{{comics.thumbnail.extension}}" alt="">
            <h5>{{comics.title}}</h5>
            <div class="w-100">
              <p class="float-end fw-bold text-success fs-4">{{ comics.prices[0].price | dollarToInr | currency:'INR' }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
</div>