.card img{
  height: 200px;
  width: fit-content;
}
.card{
  height: 350px;
  border-radius: 0%;
}.container-fluid{
  min-height:80vh ;
}
.banner-box{
  background-size: 100vw auto;
  background-position: top 4.5em center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 110vh;
}

*{
  font-family: 'Josefin Sans', sans-serif;
}
.main-box{
  box-shadow: 0px -50px 100px black;
}
.banner-box h1{
  position: fixed;
  transform: translateY(50vh);
}