.card{
  cursor: pointer;
}
.card img:hover{
  transform: scale(1.05);
  transition: .2s ease-in-out;
}
.container-fluid{
  min-height:80vh ;
}
/* .main-box{
  background-image: url('src/assets/img/bg/marvel-bg.jpg') ;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
} */
.banner-box{
  background-image: url('src/assets/img/bg/marvel-bg.jpg') ;
  background-size: 100vw auto;
  background-position: top 4.5em center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 110vh;
}
*{
  font-family: 'Josefin Sans', sans-serif;
}
.main-box{
  box-shadow: 0px -50px 100px black;
}
@media only screen and (max-width: 390px) {
  .banner-box{
    height: 15em;
  }
  .main-box{
    box-shadow: 0px -15px 30px black;
  }
}
@media only screen and (min-width: 390px) {
  .banner-box{
    height: 18em;
  }
  .main-box{
    box-shadow: 0px -25px 40px black;
  }
}
@media only screen and (min-width: 567px) {
  .banner-box{
    height: 22em;
  }
}

/* Small devices (portrait tablets and large phones, 567px and up) */
@media only screen and (min-width: 600px) {
  .banner-box{
    height: 25em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .banner-box{
    height: 30em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .banner-box{
    height:35em ;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .banner-box{
    height: 40em;
  }
}
@media only screen and (min-width: 1400px) {
  .banner-box{
    height:110vh;
    background-position: top center;
  }
}