<div class="container-fluid gx-0 d-flex">
  <ng-container *ngIf="loader==true">
    <div class="spinner-border mx-auto my-auto text-secondary" style="width: 8rem; height: 8rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>
  <div class="container-fluid gx-0 mx-auto " *ngIf="!loader">
    <div class="banner-box">
    </div>
<div class="container-fluid main-box gx-0">
  <div class="row container-sm mx-auto p-0">
    <h3 class="text-center my-5">Browse comics through heroes</h3>
    <ng-container *ngFor="let hero of super_hero_data">
      <div class="col-3 my-3" routerLink="comics/{{hero.id}}" [queryParams]="{hero_name:hero.name}">
        <div class="card border-0">
          <img class="rounded-2" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="">
          <h4 class="text-center m-2">{{hero.name}}</h4>
        </div>
      </div>
    </ng-container>
  </div>
</div>
  </div>
</div>